.hautdepage{
    display: flex;
    background-color:#9b009d;
}
.colorwhite{
    color:white;
}
.centerhautpage{
    margin:auto;
}
.bgcolor{
    background-color: #00e173;
}
.bgcolor:hover{
    background-color: yellowgreen;
    width: 200px;
}
.centertext{
    margin:0 5px;
}
.navy{
    height:auto;
    display:flex;
    align-items: center;
}
.leftnavy{
    align-items: center;
    justify-content: center;
    height:120px;
    border: solid black 1px;
    flex-basis: 0;
    flex-grow: 1;
}
.naver{
    display: table;
    margin: 0 auto;
}
.naver ul li a{
    text-decoration: none;
    color:black;
}
.naver ul li a:hover{
    border-bottom:black 2px solid;
}
.naver ul {
    list-style: none;
}
ul.horizontal{
    min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul.horizontal li{
    display: inline;
    margin-right:20px;
}
.centernavy{
    height: 120px;
    border:solid black 1px;
    margin:auto;
    flex-basis: 0;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.rightnavy{
    height: 120px;
    margin-left:auto;
    border:solid black 1px;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.rightnavy a{
    text-decoration: none;
    color:black;
}
.rightnavy a:hover{
    text-decoration:wavy;
    color:red;
    border: #00e173 double 2px;
    border-radius: 50%;
}
.sectionmolengeek{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectioninfo{
    max-width: 80%;
    margin:auto;
}
li::marker {
    color: #9b009d;
}
.feeter{
    background-color: #363636;
}
.social{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    text-decoration: none;
    color:white;
}
.logosocial{
    border:white 2px solid;
    border-radius: 50%;
    padding:3px;
}
.socialspace{
    padding:20px;
}
.socialspace:hover{
    padding:50px;
    color:green;
    border-right: 7px dotted yellow;
}
.copyrightbg{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrightbabyyyyy{
    color:gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}