.hautdepage{
    display: flex;
    background-color:#9b009d;
}
.colorwhite{
    color:white;
}
.centerhautpage{
    margin:auto;
}
.bgcolor{
    background-color: #00e173;
}
.centertext{
    margin:0 5px;
}
.navy{
    height:auto;
    display:flex;
    align-items: center;
}
.leftnavy{
    align-items: center;
    justify-content: center;
    height:120px;
    border: solid black 1px;
    flex-basis: 0;
    flex-grow: 1;
}
.naver{
    display: table;
    margin: 0 auto;
}
.naver ul li a{
    text-decoration: none;
    color:black;
}
.naver ul li a:hover{
    border-bottom:black 2px solid;
}
.naver ul {
    list-style: none;
}
ul.horizontal{
    min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul.horizontal li{
    display: inline;
    margin-right:20px;
}
.centernavy{
    height: 120px;
    border:solid black 1px;
    margin:auto;
    flex-basis: 0;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.rightnavy{
    height: 120px;
    margin-left:auto;
    border:solid black 1px;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.rightnavy a{
    text-decoration: none;
    color:black;
}
.sectionmolengeek{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectioninfo{
    
}